<div class="container">
  <p>検索結果：<%= @hotels.count %>件</p>
  <div class="index_container">
    <% @hotels.each do |hotel| %>
      <%= link_to hotel_path(hotel), class: "link_to_font" do %>
        <div class="hotel_content">
          <% if hotel.image.attached? %>
           <%= image_tag hotel.image, class:"room_image" %>
          <% else %>
            <%= image_tag "https://presite-potepancamp-rails-02.herokuapp.com/assets/room01.jpg", class:"room_image" %>
          <% end %>
          <div class="hotel_content_text">
            <p class="room_name"><%= hotel.room_name %></p>
            <p class="room_adress"><%= hotel.adress %></p>
            <p class="room_price">¥<%= hotel.price %></p>
          </div>
          <%= link_to "削除", hotel_path(hotel), method: :delete, class: "link_to_font delete" %><!--あとで消す-->
        </div>  
      <% end %>
    <% end %>
  </div>  
  <%= link_to "新規投稿", new_hotel_path, class:"submit_room" %> <!--あとで消す-->
</div>