<div class="new_container container">
  <div class="side_menus">
    
  </div>
  <div class="main_area">
    <div class="work_area">
      <h2>ルーム情報登録</h2>
        <%= form_for @hotel do |f| %>
          <ul class="room_information_input">
            <li>
              <div class="room_label">
                <p>ルーム名</p>
                <p class="necessary">必須</p>
              </div>
              <%= f.text_field :room_name %>
            </li>
            <li>
              <div class="room_label">
                <p>ルーム紹介</p>
                <p class="necessary">必須</p>
              </div>
              <%= f.text_field :introduction %>
            </li>
            <li>
              <div class="room_label">
                <p>料金</p>
                <p class="necessary">必須</p>
              </div>
              <%= f.text_field :price %>
            </li>
            <li>
              <div class="room_label">
                <p>住所</p>
                <p class="necessary">必須</p>
              </div>
              <%= f.text_field :adress %>
            </li>
            <li>
              <div class="room_label">
                <p>ルーム画像</p>
                <p class="necessary">必須</p>
              </div>
              
              <%= f.label :image 'image' %>
              <%= f.file_field :image %>
               
            </li>
              
              <%= f.submit '登録' %>
          <% end %>
          
        </ul>
        
      </div>
      
    </div>
  </div>
</div>
